.services .subtitle {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 22px;
    font-family: QuicksandBold;
}

.services .border {
    position: relative;
    margin-top: 20px;
    right: 10%;
    width: 80%;
    height: 4px;
    border-radius: 4px;
    background-color: #37373788;
}

.services p {
    width: 98%;
}