.about-us__img {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 40px;
}

.about-us__img img {
    border-radius: 4px;
    box-shadow: 0 4px 7px rgba(0, 0, 0, .6);
}

@media (max-width: 900px) {
    .about-us__img img {
        width: 100%;
    }
}