.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    background-color: rgba(185, 137, 60, 0.8);
    width: max-content;
    color: #373737;
    border-radius: 4px;
    box-shadow: 0 5.5px 8px rgba(0, 0, 0, .8);
    opacity: .85;
    height: 370px;
    width: 500px;
}

@keyframes rotate-img {
    0% {
        transform: rotate(0);
        width: 100px;
    }

    90% {
        width: 400px;
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
        width: 500px;
    }
}

.home img {
    border-radius: 4px;
    box-shadow: 0 5.5px 8px rgba(0, 0, 0, .8);
    animation-name: rotate-img;
    animation-duration: .8s;
    animation-iteration-count: 1;
}

@media (max-width: 1180px) {}

@media (max-width: 900px) {
    .home div {
        width: 100%;
        height: max-content;
        font-size: 22px;
    }


}

@media (max-width: 560px) {
    .home img {
        animation: none;
        width: 100%;
    }
}