.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contact__social .border-social,
.contact .border-social {
    width: 95%;
    height: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    background-color: #37373788;
}

.contact__social {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.contact__social-mail,
.contact__social-whatsapp {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact__social-mail {
    flex-direction: column;
}

.contact__social-mail span,
.contact__social-whatsapp span {
    margin-left: 4px;
}

.contact__social-mail a,
.contact__social-whatsapp a {
    display: flex;
    align-items: center;
    color: #373737;
    margin-bottom: 4px;
}

.contact__social-mail a:hover,
.contact__social-whatsapp a:hover {
    color: rgba(185, 137, 60, 0.8);
}

.contact__social-group {
    display: flex;
    width: 100%;
}

.contact__social-whatsapp {
    flex-direction: column;
    align-items: center;
    padding: 4px 34px;
    width: 50%;
}

.contact__social-whatsapp div {
    display: flex;
    align-items: center;
    width: 200px;
    justify-content: flex-start;
}

.contact__maps {
    display: flex;
    width: 100%;
}

.contact__maps-tupungato,
.contact__maps-san-rafael,
.contact__maps-mendoza {
    width: 100%;
    background-color: #373737;
    background-color: rgba(185, 137, 60, 0.8);
    border-radius: 4px;
    padding: 10px;
    margin: 0 24px;
    margin-top: 5px;
    margin-bottom: 20px;
    box-shadow: 0 0 7px rgba(0, 0, 0, .7);
}

iframe {
    width: 100%;
    height: 300px;
    margin-top: 10px;
    border-radius: 4px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, .7);
}

iframe body {
    background-color: blue !important;
}

.contact__end {
    margin-top: 10px;
}

@media (max-width: 900px) {
    .contact__social-group {
        flex-direction: column;
    }

    .contact__social-whatsapp {
        width: 100%;
        padding: 14px 0;
    }

    .contact__social-whatsapp div {
        width: 155px;
    }

    .contact__maps {
        flex-direction: column;
    }

    .contact__maps-tupungato,
    .contact__maps-san-rafael {
        display: none;
    }

    .contact__maps-mendoza {
        padding: 6px;
        margin: 0;
        margin-top: 10px;
        width: 98%;
    }

    /* .contact__maps-tupungato,
    .contact__maps-san-rafael {
        padding: 0;
        margin: 0;
        margin-top: 10px;
        width: 100%;
    }

    .contact__maps-tupungato {
        margin-bottom: 10px;
    } */

    .contact__end {
        margin-top: 0px;
        margin-bottom: 4px;
    }
}

@media (min-width: 901px) {
    .contact__maps-mendoza {
        display: none;
    }
}