.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.background {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-size: cover;
  z-index: -1;
}

.animation {
  animation-name: opacity-background;
  animation-duration: .8s;
  animation-iteration-count: 1;

}

@keyframes opacity-background {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.opacity {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  opacity: .4;
}

.background-home {
  background-image: url('./assets/img/jpg/welcome.jpg');
}

.background-services {
  background-image: url('./assets/img/jpg/helicopter.jpg');
}

.header-home {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 220px;
}

.header-home__logo {
  /* background: rgba(255, 255, 255, .5); */
  padding: 4px;
  border-radius: 50%;
}

.header-home__logo img {}

.header-home__title {
  color: #373737;
  font-family: Ruqaa;
  font-size: 38px;
  font-weight: bold;
}

.background-title-logo {
  background: rgba(255, 255, 255, .5);
  padding: 4px;
  border-radius: 4px;
}

.slogan {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  font-size: 24px;
  /* font-weight: bold; */
  /* color: rgb(229, 229, 229); */
  /* color: #373737; */
}

.slogan div {
  padding: 10px;
  /* background-color: rgba(255, 255, 255, .3); */
  /* background-color: rgba(255, 255, 255, .3); */
  background: #373737;
  opacity: .8;
  color: #fff;
  border: 1px solid #ffffff88;
  border-radius: 6px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, .4);
  font-family: Quicksand;
}

.slogan div span {
  font-family: QuicksandBold;
  /* text-transform: uppercase; */
}

.menu {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  /* background: red; */
  top: 240px;
  /*top min 220*/
}

.menu div {
  width: 20%;
  margin-left: 14px;
  padding: 4.8px 14px;
  background: #373737;
  color: #fff;
  cursor: pointer;
  font-family: Quicksand;
  font-size: 21.5px;
  border: 1px solid #ffffff88;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, .4);
  opacity: .8;
  transition: all ease .4s;
}

.menu div:hover {
  opacity: 1;
  transition: all ease .4s;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, .6),
    0px 4px 8px rgba(0, 0, 0, .3);
}

.menu div:active {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, .4);
}

.content {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 20px;
  width: 80%;
  height: max-content;
  top: 320px;
  font-family: Quicksand;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 20px;
  color: #373737;
  /* background: blue; */
}

.content .section-content {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding: 20px 40px 40px 40px;
  background: rgba(243, 243, 243, 0.501);
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  text-align: justify;
}